---
# Frontmatter

---

// I. Resets, Variables, Mixins
// ========================================

// Resets
@import "reset";
a { text-decoration: none; }
div { box-sizing: border-box; }
mark { background-color: transparent; }

// Colors
$platinum: #E4E4E4;
$jet: #323232;
$sangria: #8F0606;
$raisin-black: #212121;
$oldgold: #D1B745;

// Fonts
$cormorant: 'Cormorant', serif;
$pfdisplay: 'Playfair Display', serif;

// II. Typography
// ========================================

// Typeface:
// ----------------------------------------
h1, h2, { font-family: $pfdisplay; }
body { font-family: $cormorant }

// Color:
// ----------------------------------------
body { color: $raisin-black; }
h1, a, mark { color: $sangria; }
a:hover { color: lighten($sangria, 15%); }
.nav-link, .nav-text { color: $platinum; }
.nav-text { color: $oldgold; }
.nav-link:hover {
  color: darken($platinum, 50%);
  transform: translateX(5px);
  transition: transform .2s;
  }
.nav-text:hover {
  color: lighten($oldgold, 20%);
  text-decoration: underline;
}

// Size & Spacing:
// ----------------------------------------
h1 { font-size: 8em; }
h2 { font-size: 6em; } 
h3 { font-size: 2.5em; }
h4 { font-size: 2.5em; }
p, li { font-size: 1.7em; line-height: 1.3em; }
p~p { margin-top: 1em; }
.nav-link { font-size: 1em; letter-spacing: .2em; }
.nav-text { font-size: 2em; letter-spacing: .05em; line-height: 1em;}

// Style:
// ----------------------------------------
h1, h2, mark, strong { font-weight: bolder; }
h4, .nav-link { font-style: italic; }
.nav-link { font-weight: 300 }


// II. General Tags
// ========================================
body { background-color: $platinum; }


// III. Styling & Animation Classes
// ========================================
.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


// IV. Structural Classes
// ========================================
// Architecture
// ========================================

.page-wrapper {
  height: 100vh;
  width: 100vw;
}
.content-wrapper {
  background-color: $platinum;
  left: 160px;
  padding: 0 50px;
  position: absolute;
}
// Portfolio Page
// ========================================
.lander {
  @extend .flex-column;
  font-size: 90%;
  height: 100vh;
  text-align: center;
  h1 { font-size: 10em; color: $oldgold; line-height: .9em; }
}
.bg-filter {
  height: 100vh;
  width: 100%;
  background-color: darken($raisin-black, 8%);
  filter: opacity(100%);
  position: absolute;
  top: 0;
  z-index: 1;
  }
.lander-intro {
  color: darken($platinum, 10%);
  margin: 1em 0;
  z-index: 2;
  width: 80%;
}
.project, .education, .biography { margin: 50px 0; }
.project-img {
  float: left;
  height: 300px;
  width: 60%;
  margin: 0 20px 20px 0;
}
.project-tech { font-size: 1.2em; }
.project-description { clear: both; }
.project-details {
  padding: 20px;
  h3 { font-family: $pfdisplay; }
}
.biography {
  h3 { font-size: 3em; }
}
.biography-body { margin: 20px 0; }
.mugshot {
  // display: inline-block;
  float: left;
  width: 300px;
  margin: 20px 25px 20px 0;
}



// Navbar
.navbar-wrapper {
  @extend .flex-column;
  background-color: $raisin-black;
  height: 100vh;
  position: fixed;
  width: 160px;
  z-index: 0;
}
.mugshot-nav-wrapper {
  @extend .flex-column;
  height: 70%;
  justify-content: flex-start;
  padding: 30px 0;
  width: 80%;
}
.nav { width: 100%; }
.nav-link, .nav-text {
  margin: 10px 0;
  text-align: center;
}
// .nav-text { border-bottom: solid 2px lighten($oldgold, 10%); }
.social-icons-wrapper {
  @extend .flex-column;
  height: 30%;
  justify-content: flex-end;
  padding: 30px 0;
}

.thick {
  border: dotted 3px $raisin-black;
}

.dashed {
  border: dashed 2px lighten($raisin-black, 50%);
}

// Blog
// ========================================
.post, .blog { padding: 30px 0; }

// div {
//   border: solid 1px red;
// }