---
# Frontmatter

---

// I. Imports, Variables, Mixins
// ========================================

@import "reset";
@import "extra-reset";

// Colors
$platinum: #E4E4E4;
$jet: #323232;
$sangria: #8F0606;
$raisin-black: #212121;

// Fonts
$cormorant: 'Cormorant', serif;
$pfdisplay: 'Playfair Display', serif;

* {
  border: solid 1px red;
}


// II. General Tags
// ========================================
a {
  color: $platinum;
}
body {
  color: $raisin-black;
  background-color: $platinum;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 8em;
  font-family: $pfdisplay;
  font-weight: bolder;
  color: $sangria;
}
h2 {
  font-size: 6em;
  font-family: $pfdisplay;
}
h3 {
  font-size: 3em;
  font-family: $cormorant;
  font-style: italic;
}
h4 {
  font-size: 2em;
  font-family: $cormorant;
  font-style: italic;
}


// III. Styling & Animation Classes
// ========================================
.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.font-nav {
  color: white;
  font-family: $cormorant;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: .15em;
}


// IV. Structural Classes
// ========================================
// a. Pervasive
.page-wrapper {
  height: 100vh;
  width: 100vw;
}

// b. Left-hand Navigation
.navbar-wrapper {
  @extend .flex-column;
  background-color: $jet;
  height: 100vh;
  justify-content: space-between;
  position: fixed;
  width: 200px
}
.mugshot-nav-wrapper {
  @extend .flex-column;
  height: 70%;
}
.mugshot {
  height: 100px;
  width: 100px;
}
.nav {
  width: 170px;
}
.nav-links {
  @extend .font-nav;
}
.nav-link {
  margin: 10px 0;
  text-align: center;
}
.social-icons-wrapper {
  @extend .flex-column;
  height: 30%;
  justify-content: center;
}
.social-icons
.social-icons-row
.social-icon {
  height: 50px;
  margin: 10px;
  width: 50px
}

// c. Main Content
.base-background {
  border: solid 1px blue;
  height: 100vh;
  width: 100vw
}
.content-wrapper {
  background-color: $platinum;
  height: 100vh;
  left: 200px;
  position: absolute
}
.panels {
  border: solid 1px red;
  height: 100vh;
  padding: 5%
}
.headers {
  // color: blue;
}

// d. Landing Panel
.intro-wrapper {
  @extend .flex-column;
  align-items: flex-start;
  height: 100%;
}

// e. Experience - Windhover Ventures

// f. Experience - 
