body, h1, h2, h3, p, br, figure {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

mark {
  background-color: transparent; }

figure {
  box-sizing: border-box; }

.flex-row, .flex-column, .section, nav, .link, .blog, .about-me > div, .projects > div > div, nav > div {
  align-items: center;
  display: flex;
  justify-content: center; }

.flex-column, .section, nav, .link, .blog {
  flex-direction: column; }

.fit-to-parent {
  height: 100%;
  width: 100%; }

.full-window, .section, .filter {
  height: 100vh;
  width: 100vw; }

.icon-size, .about-me .feather, .nav-icon, .link, .blog, .feather-arrow-down {
  height: 50px;
  width: 50px; }

.stick-to-top, nav {
  position: fixed;
  top: 30px; }

.mt30 {
  margin-top: 30px; }

.mb15 {
  margin-bottom: 15px; }

.filter {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.9);
  z-index: 2; }

body {
  background-color: #212121;
  color: darkgrey;
  text-align: center;
  font-size: 18px;
  font-family: "Cormorant", "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif; }

p {
  font-size: 1.1em; }

h1, h2, h4 {
  color: #D1B745;
  font-family: "Playfair Display", "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; }

h1 {
  font-size: 4em;
  line-height: .8em;
  margin-bottom: .2em; }

h2 {
  font-size: 3em;
  line-height: .8em; }

h3 {
  color: #E4E4E4; }

strong {
  color: #E4E4E4;
  font-weight: bold;
  font-style: normal; }

a, mark {
  color: #D1B745; }

a:hover {
  border-color: #e5d797;
  color: #e5d797;
  text-decoration: underline; }

@media only screen and (min-width: 600px) {
  body {
    font-size: 24px; } }
@media only screen and (min-width: 750px) {
  body {
    font-size: 32px; } }
@media only screen and (min-width: 1000px) {
  body {
    font-size: 36px; } }
img.icon {
  height: 100px;
  width: 100px; }

.about-me > div:first-of-type {
  margin-top: 30px; }
.about-me > div {
  width: 75%;
  margin-top: 15px; }
.about-me .feather {
  margin: 0 25px; }

.section > * {
  max-width: 960px; }

.contact > div {
  margin: 15px 0; }

.nav-icon, .link, .blog {
  border-radius: 50px;
  border: solid 3px #D1B745; }

nav {
  align-items: flex-start;
  left: 30px;
  font-size: .8em;
  z-index: 3; }
  nav > div:first-of-type {
    margin-bottom: 20px; }

.link {
  background-color: #212121;
  margin-bottom: 10px; }
  .link span {
    left: 65px;
    position: absolute;
    font-size: .7em;
    font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif; }

.project {
  background: linear-gradient(to top right, #353535, #302F2E);
  border: solid 3px darkgrey;
  margin: 15px; }

.thumbnail {
  height: 200px;
  width: 300px; }

figcaption {
  height: 0px;
  width: 300px;
  font-size: .85em;
  position: absolute;
  transform: translateY(-150px); }

.filter {
  display: none; }

.feather-arrow-down {
  color: #E4E4E4;
  z-index: 2;
  position: fixed;
  bottom: 30px; }

.section-link, .nav-text {
  display: none; }

/*# sourceMappingURL=styles.css.map */
