<!DOCTYPE html>
<html>

<head>
  <title>Paul N.</title>
  <link href="https://fonts.googleapis.com/css?family=Cormorant|Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <div class="base-background">

    <header class="navbar-wrapper">
      <div class="mugshot-nav-wrapper">
        <img class="mugshot" src="#" alt="">
        <nav class="nav">
          <ul class="nav-links">
            <a href="#experience"><li class="nav-link">experience</li></a>
            <a href="#education"><li class="nav-link">education</li></a>
            <a href="#biography"><li class="nav-link">biography</li></a>
          </ul>    
        </nav>
      </div>
      <div class="social-icons-wrapper">
        <div class="social-icons">
          <div class="social-icons-row">
            <img src="" alt="" class="social-icon">
            <img src="" alt="" class="social-icon">
          </div>
          <div class="social-icons-row">
            <img src="" alt="" class="social-icon">
            <img src="" alt="" class="social-icon">
          </div>
        </div>
      </div>
    </header>

  {{ content }}

  </div>
</body>

</html>